html:not(.iframe_enable),
body:not(.editor_enable),
body:not(.editor_enable) #wrapwrap {
  height: 100%; }

.bt-group {
  display: flex; }

.btn {
  display: flex;
  align-items: center; }
  .btn svg {
    height: 1em;
    width: auto;
    fill: var(--svg-color, var(--pu-black)); }
    .btn svg:first-child {
      margin-right: .3em; }
    .btn svg:last-child {
      margin-left: .3em; }
  .btn-link {
    --svg-color: var(--pu-primary);
    color: var(--pu-primary);
    background: transparent;
    border-radius: 0;
    padding: 0;
    border: 0;
    line-height: 1.1; }
    .btn-link:hover, .btn-link:visited, .btn-link:focus {
      text-decoration: none;
      color: var(--pu-primary);
      box-shadow: none; }
    .btn-link span {
      text-align: left; }
  .btn.md {
    font-size: 20px; }

.form-check-input {
  border-radius: 4px !important; }

.gray10 {
  opacity: 0.1; }

.gray20 {
  opacity: 0.2; }

.gray30 {
  opacity: 0.3; }

.gray40 {
  opacity: 0.4; }

.gray50 {
  opacity: 0.5; }

.gray60 {
  opacity: 0.6; }

.gray70 {
  opacity: 0.7; }

.gray80 {
  opacity: 0.8; }

.gray90 {
  opacity: 0.9; }

.gray100 {
  opacity: 1; }

.calculator aside {
  position: relative;
  text-align: right; }
  .calculator aside .icon {
    opacity: .2;
    position: sticky;
    top: 20px;
    width: 90%;
    height: auto;
    right: 0; }
.calculator-content {
  margin-bottom: calc(var(--pu-section-padding) * .6); }
.calculator label {
  display: block; }
.calculator .mb {
  margin-bottom: 26px; }
.calculator-fixed {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  left: 0;
  padding: 10px 16px;
  z-index: 200; }
.calculator button {
  outline: none; }
.calculator small {
  opacity: .7;
  font-size: 13px;
  line-height: 1.1;
  display: block; }
  .calculator small a {
    color: var(--pu-black);
    text-decoration: underline; }
    .calculator small a:hover, .calculator small a:visited {
      color: var(--pu-black);
      text-decoration: underline; }
.calculator .product_box {
  text-align: center;
  border-radius: calc(var(--pu-box-radius) * .75);
  box-shadow: 0 0 40px var(--pu-box-shadows);
  padding: calc(var(--pu-box-radius) * .75);
  height: 100%;
  display: flex;
  flex-direction: column; }
  .calculator .product_box .title {
    font-size: 16px;
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; }
  .calculator .product_box .input_number-value {
    max-width: 2.2em;
    font-size: 20px;
    padding-right: .2em; }
.calculator .checkbox_box {
  --title-size: 16px;
  height: 100%;
  border-radius: calc(var(--pu-box-radius) * .75);
  box-shadow: 0 0 40px var(--pu-box-shadows);
  padding: calc(var(--pu-box-radius) * .6);
  border: 2px solid #fff;
  cursor: pointer;
  user-select: none;
  transition: border-color .2s;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .calculator .checkbox_box:has(input:checked) {
    border-color: var(--pu-primary); }
  .calculator .checkbox_box .title {
    font-size: var(--title-size);
    font-weight: bold; }
  .calculator .checkbox_box .gray {
    color: #a6a6a6; }
  .calculator .checkbox_box .form-check {
    display: flex;
    align-items: center; }
  .calculator .checkbox_box .form-check-input {
    display: flex;
    align-items: center; }
  .calculator .checkbox_box .form-check-label {
    opacity: .5;
    font-size: 16px;
    margin-left: .5em;
    position: relative;
    top: .1em; }
  .calculator .checkbox_box.guard {
    padding: var(--pu-box-radius); }
    .calculator .checkbox_box.guard .title svg {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      position: relative;
      top: -.08em;
      fill: #49a429; }
    .calculator .checkbox_box.guard .form-check-input:disabled {
      opacity: 1 !important; }
  .calculator .checkbox_box .stars svg {
    width: 1em;
    height: 1em;
    fill: var(--pu-primary); }
.calculator .parking_box {
  --title-size: 16px;
  height: 100%;
  border-radius: calc(var(--pu-box-radius) * .75);
  box-shadow: 0 0 40px var(--pu-box-shadows);
  padding: var(--pu-box-radius);
  font-size: var(--title-size); }
  .calculator .parking_box .title {
    display: flex;
    align-items: center;
    font-size: var(--title-size); }
  .calculator .parking_box .no-stopping {
    width: 35px;
    height: 35px;
    display: block;
    flex: none;
    margin-right: .6em; }
  .calculator .parking_box-price {
    font-weight: bold;
    display: flex;
    align-items: center; }
    .calculator .parking_box-price:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #000;
      opacity: .09; }
    .calculator .parking_box-price span {
      flex: none;
      padding-left: 15px; }
.calculator .text-sm {
  font-size: 14px; }
.calculator .check-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .calculator .check-list li {
    padding: .1em 0;
    padding-left: 1.4em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%2349a429" d="m16.298,8.288l1.404,1.425-5.793,5.707c-.387.387-.896.58-1.407.58s-1.025-.195-1.416-.585l-2.782-2.696,1.393-1.437,2.793,2.707,5.809-5.701Zm7.702,3.712c0,6.617-5.383,12-12,12S0,18.617,0,12,5.383,0,12,0s12,5.383,12,12Zm-2,0c0-5.514-4.486-10-10-10S2,6.486,2,12s4.486,10,10,10,10-4.486,10-10Z"/></svg>');
    background-repeat: no-repeat;
    background-position: 0 calc(50% + .05em);
    background-size: 1em; }
.calculator .section {
  margin-top: calc(var(--pu-section-padding) * .6);
  margin-bottom: calc(var(--pu-section-padding) * .6);
  --title-fz: clamp(26px, calc((1vh + 1vw) * 1.75), 36px); }
  .calculator .section h2 {
    font-size: var(--title-fz);
    font-weight: bold;
    margin-bottom: calc(var(--pu-section-padding) * .3); }
    .calculator .section h2 + p {
      opacity: .6;
      margin-top: calc(var(--pu-section-padding) * .25 * -1);
      margin-bottom: calc(var(--pu-section-padding) * .3); }
.calculator input.error {
  border-color: #ff3434; }
.calculator .error-text {
  font-size: 13px;
  color: #df2626;
  position: relative;
  top: -.2em; }

.adress_box {
  --gutter: 20px;
  padding: var(--gutter);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: calc(var(--pu-box-radius) * .5);
  position: relative;
  font-size: .8em;
  overflow: hidden; }
  .adress_box-close {
    position: absolute;
    right: calc(var(--gutter) * .5);
    top: calc(var(--gutter) * .4);
    border: 0;
    background-color: transparent;
    border-radius: var(--pu-box-radius);
    opacity: .3; }
    .adress_box-close svg {
      width: 12px; }
  .adress_box mark {
    font-weight: bold;
    margin-bottom: .5em;
    color: var(--pu-primary);
    background-color: transparent;
    display: block;
    padding: calc(var(--gutter) * .5) var(--gutter);
    width: calc(100% + var(--gutter) * 2);
    margin: calc(var(--gutter) * -1);
    margin-bottom: calc(var(--gutter) * .8);
    background: rgba(0, 0, 0, 0.03); }

.calculator_tab {
  --gutter: 20px;
  display: flex;
  overflow-x: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: calc(var(--gutter) * .5); }
  .calculator_tab li {
    padding-bottom: 4px; }
    .calculator_tab li:not(:last-child) {
      margin-right: var(--gutter); }
  .calculator_tab-link {
    font-weight: 900;
    border: 0;
    background-color: transparent;
    color: var(--pu-black); }
    .calculator_tab-link.disable {
      font-weight: normal;
      opacity: .3;
      cursor: default; }
    .calculator_tab-link:visited, .calculator_tab-link:hover {
      text-decoration: none;
      color: var(--pu-black); }
  .calculator_tab-link:disabled, .calculator_tab-link[disabled] {
    font-weight: normal;
    opacity: .3; }

.label-info {
  height: 1em;
  width: auto;
  display: inline-block;
  margin-left: 2px;
  fill: var(--pu-primary);
  position: relative;
  top: -.1em;
  cursor: pointer; }

.input_radio {
  --icon-height: 50px;
  --text-size: 18px;
  --font-weight: 600;
  --gutter: 20px;
  width: 100%;
  padding: var(--gutter);
  position: relative;
  text-align: center;
  font-size: 19px;
  height: 100%; }
  .input_radio input {
    display: none; }
    .input_radio input:checked ~ .input_radio-style {
      border-color: var(--pu-primary); }
  .input_radio-style {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    border: 2px solid #fff;
    border-radius: var(--pu-box-radius);
    box-shadow: 0 0 40px var(--pu-box-shadows); }
  .input_radio-icon {
    position: relative;
    z-index: 2;
    max-height: var(--icon-height);
    width: auto;
    margin-bottom: 7px;
    fill: var(--pu-primary); }
  .input_radio-name {
    display: block;
    position: relative;
    z-index: 2;
    margin-top: 5px;
    color: #000;
    font-size: var(--text-size);
    font-weight: var(--font-weight); }

.input_switch {
  display: flex !important;
  align-items: center; }
  .input_switch input {
    display: none; }
  .input_switch .slider-wrap {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px; }
  .input_switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .3s; }
    .input_switch .slider:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      transition: .3s; }
    .input_switch .slider.round {
      border-radius: 34px; }
    .input_switch .slider.round:before {
      border-radius: 50%; }
  .input_switch .label {
    margin-left: 8px; }
    .input_switch .label .on {
      display: none; }
  .input_switch input:checked ~ .slider-wrap .slider {
    background-color: var(--pu-primary); }
  .input_switch input:checked ~ .slider-wrap .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .input_switch input:checked ~ .label .on {
    display: inline-block; }
  .input_switch input:checked ~ .label .off {
    display: none; }
  .input_switch input:focus ~ .slider-wrap .slider {
    box-shadow: 0 0 1px var(--pu-primary); }

.input_number {
  --text-size: 18px;
  --box-height: 170px;
  --box-padding: 12px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #fff;
  border: 2px solid #fff;
  border-radius: var(--pu-box-radius);
  box-shadow: 0 0 40px var(--pu-box-shadows);
  padding: var(--box-padding);
  min-height: var(--box-height);
  text-align: center;
  cursor: pointer; }
  .input_number-icon {
    max-height: calc(var(--box-height) * .3);
    fill: var(--pu-primary); }
  .input_number-name {
    margin-top: 5px;
    color: #000;
    font-size: var(--text-size);
    font-weight: bold; }
  .input_number-value {
    margin: 0 .55em;
    width: calc(var(--box-height) * .3);
    border: 0;
    color: #000;
    background: var(--pu-primary);
    border-radius: 8px;
    text-align: center;
    outline: none; }
    .input_number-value::-webkit-outer-spin-button, .input_number-value::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .input_number-value[type=number] {
      -moz-appearance: textfield; }
  .input_number-btn {
    padding: 0;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    outline: none; }
    .input_number-btn svg {
      width: .8em;
      height: .8em;
      fill: var(--pu-primary); }
  .input_number-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--text-size) + 3px);
    margin-top: .5em; }
    .input_number-controls.hide {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: height .3s, opacity .3s; }
    .input_number-controls.style-white .input_number-value {
      border: 0;
      background: transparent; }
  .input_number.active, .input_number:focus-within {
    border-color: var(--pu-primary); }
    .input_number.active .hide, .input_number:focus-within .hide {
      height: calc(1em + 13px);
      opacity: 1; }

.nav-underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .nav-underline .nav-link {
    background: transparent;
    position: relative;
    bottom: -2px;
    border: 0;
    border-bottom: 3px solid transparent;
    color: var(--pu-black);
    font-weight: bold;
    padding: .25em .6em;
    font-size: var(--nav-fz, 22px);
    outline: none; }
    .nav-underline .nav-link.active {
      border-color: var(--pu-primary); }

.room {
  --box-width: 105px;
  width: var(--box-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--box-width) * .09);
  background: #fff;
  border: 2px solid transparent;
  border-radius: calc(var(--pu-box-radius) * .5);
  box-shadow: 0 0 40px var(--pu-box-shadows);
  box-shadow: 0 0 16px var(--pu-box-shadows);
  font-size: calc(var(--box-width) * 0.1);
  font-weight: bold;
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: var(--box-gutter);
  margin-bottom: var(--box-gutter);
  flex: none; }
  .room.active {
    border-color: var(--pu-primary); }
    .room.active .close {
      display: block; }
  .room-list {
    --box-gutter: 16px;
    display: flex;
    margin-left: calc(var(--box-gutter) * -1);
    margin-bottom: calc(var(--box-gutter) * -1);
    overflow-x: auto;
    padding-top: 16px;
    margin-top: -16px; }
  .room-icon {
    max-height: calc(var(--box-width) * .37);
    fill: var(--pu-primary); }
  .room-name {
    margin-top: .4em; }
  .room .close {
    position: absolute;
    top: calc(var(--box-width) * .07);
    right: calc(var(--box-width) * .07);
    width: .8em;
    height: .8em;
    cursor: pointer;
    display: none; }
  .room.more {
    border: 1px dashed rgba(0, 0, 0, 0.15);
    background-color: transparent;
    box-shadow: none; }
    .room.more .plus {
      width: 1.5em;
      height: 1.5em;
      fill: rgba(0, 0, 0, 0.2); }

.mobel {
  --box-gutter: 20px;
  --button-height: 38px;
  --item-radius: calc(var(--pu-box-radius) * .3);
  --nav-fz: 14px;
  margin-top: calc(var(--box-gutter) * 3.5); }
  .mobel-tabs {
    margin-bottom: 30px; }
  .mobel-add {
    border-radius: var(--item-radius);
    border: 1px dashed var(--pu-primary);
    background-color: transparent;
    margin-top: var(--box-gutter);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--button-height);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px; }
    .mobel-add svg {
      height: .7em;
      width: auto;
      margin-right: .2em;
      fill: rgba(0, 0, 0, 0.3); }
  .mobel-search input {
    height: var(--button-height);
    border-radius: var(--item-radius); }
  .mobel-search svg {
    width: 1em;
    height: auto; }
  .mobel-search .input-group-text {
    border-radius: var(--item-radius);
    display: flex;
    align-items: center; }
  .mobel-select_room-title {
    min-height: var(--button-height);
    font-size: 16px;
    font-weight: normal;
    padding: 8px 12px;
    background: #e9ecef;
    border-radius: var(--item-radius); }
  .mobel-select_room-list {
    margin-top: var(--box-gutter);
    max-height: calc(376px + 58px);
    overflow-y: auto;
    padding-right: 12px; }
    .mobel-select_room-list::-webkit-scrollbar {
      width: 6px; }
    .mobel-select_room-list::-webkit-scrollbar-track {
      background: #e6e6e6;
      border-radius: 4px; }
    .mobel-select_room-list::-webkit-scrollbar-thumb {
      background: var(--pu-primary);
      border-radius: 4px; }
  .mobel-select_room-msg {
    border-radius: var(--item-radius);
    padding: 12px;
    background: #FFA000;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 16px; }
  .mobel-catalog {
    margin-top: var(--box-gutter);
    max-height: 376px;
    overflow-y: auto;
    padding-right: 12px; }
    .mobel-catalog::-webkit-scrollbar {
      width: 6px; }
    .mobel-catalog::-webkit-scrollbar-track {
      background: #e6e6e6;
      border-radius: 4px; }
    .mobel-catalog::-webkit-scrollbar-thumb {
      background: var(--pu-primary);
      border-radius: 4px; }
    .mobel-catalog-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px; }
    .mobel-catalog-icon {
      width: 40px;
      height: 40px;
      margin-right: 12px;
      flex: none;
      fill: rgba(0, 0, 0, 0.75); }
    .mobel-catalog-title {
      width: 100%; }
      .mobel-catalog-title .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        cursor: default; }
      .mobel-catalog-title .dsc {
        opacity: .5;
        font-size: 11px;
        margin: 0;
        font-weight: 500; }
    .mobel-catalog-btn {
      --icon-size: 1.2em;
      margin-left: auto;
      padding: 0;
      background-color: transparent;
      border: 0;
      display: flex;
      align-items: center;
      flex: none;
      margin-left: 12px;
      fill: var(--pu-primary); }
      .mobel-catalog-btn svg {
        width: var(--icon-size); }
      .mobel-catalog-btn.remove {
        --icon-size: .65em;
        fill: #000;
        opacity: .4; }
    .mobel-catalog-controls {
      width: 86px;
      display: flex;
      border-radius: var(--item-radius);
      border: 1px solid rgba(0, 0, 0, 0.1);
      flex: none; }
      .mobel-catalog-controls .control-value {
        width: 26px;
        border: 0;
        color: #000;
        text-align: center;
        outline: none;
        font-size: 16px; }
      .mobel-catalog-controls .control-btn {
        --icon-size: .7em;
        background: transparent;
        border: 0;
        display: flex;
        align-items: center;
        outline: none;
        padding: 0 8px; }
        .mobel-catalog-controls .control-btn svg {
          width: var(--icon-size);
          height: var(--icon-size);
          fill: var(--pu-primary); }
      .mobel-catalog-controls.settings {
        justify-content: center;
        padding-left: 8px; }
        .mobel-catalog-controls.settings .control-btn {
          --icon-size: .9em; }
      .mobel-catalog-controls input::-webkit-outer-spin-button,
      .mobel-catalog-controls input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .mobel-catalog-controls input[type=number] {
        -moz-appearance: textfield; }

/* SS -------------------- */
/* SM -------------------- */
@media (min-width: 576px) {
  .calculator .product_box {
    padding: calc(var(--pu-box-radius) * .75);
    padding-bottom: var(--pu-box-radius); }
    .calculator .product_box h3 {
      font-size: 18px; }
    .calculator .product_box .input_number-value {
      font-size: 24px; }
  .calculator .checkbox_box {
    --title-size: 18px; }
  .calculator .parking_box {
    --title-size: 18px; }

  .input_number {
    --box-height: 200px;
    --box-padding: 20px; }

  .mobel {
    --nav-fz: 18px; } }
/* MD -------------------- */
@media (min-width: 768px) {
  .calculator-fixed {
    position: static;
    background: transparent;
    padding: 0; }

  .input_radio.large {
    --icon-height: 70px;
    --text-size: 22px;
    --font-weight: 500;
    --gutter: 30px; }

  .room {
    --box-width: 135px; }
    .room-list {
      flex-wrap: wrap; }

  .mobel {
    padding: var(--box-gutter);
    border-radius: calc(var(--pu-box-radius) * .5);
    box-shadow: 0 0 40px var(--pu-box-shadows);
    background: #fff; }
    .mobel-tabs {
      display: none; }
    .mobel .tab-content {
      display: flex;
      justify-content: space-between;
      margin-left: calc(var(--box-gutter) * -1); }
    .mobel .tab-pane {
      width: calc((100% - var(--box-gutter) * 2.5) / 2);
      display: block;
      opacity: 1;
      margin-left: var(--box-gutter); } }
/* LG -------------------- */
/* XL -------------------- */
/* XXL ------------------- */
